// 新卒向けイベントのご案内
.p-event {
	&__txt {
		@include mq(sp) {
			margin-top: 30px;
			font-size: 2rem;
			line-height: 1.2;
		}
		margin-top: 60px;
		font-weight: $font-weight-bold;
		font-size: 2.8rem;
		letter-spacing: .02em;
		&--lower {
			@include mq(sp) {
				margin-top: 5px;
				font-size: 1.4rem;
				line-height: 1.2;
			}
			display: block;
			margin-top: 10px;
			font-weight: normal;
			font-size: 1.6rem;
			letter-spacing: .01em;
		}
	}
	&__course {
		@include mq(sp) {
			margin-top: 30px;
		}
		margin-top: 40px;
		padding-bottom: 25px;
	}
	&__detail {
		@include mq(sp) {
			margin-top: 20px;
		}
		margin-top: 30px;
	}
	&__entry {
		@include mq(sp) {
			margin-top: 40px;
		}
		margin-top: 90px;
	}

	&__main {
		// 戻るボタン
		&__btn {
			margin: 120px auto 0;
			@include mq(sp) {
			    margin-top: 60px;
			}
		}
	}

}
.p-event-course {

	&__item {
		&:not(:first-child){
			@include mq(sp) {
				margin-top: 25px;
			}
			margin-top: 40px;
		}
	}
	&__num {
		padding: 7px 0 7px 15px;
		background: url(../images/recruit/event/event-sec01-bg01.png) no-repeat left/contain;
		color: white;
		font-weight: $font-weight-bold;
		font-size: 1.6rem;
		letter-spacing: .01em;
	}
	&__title {
		@include mq(sp) {
			margin-top: 10px;
			font-size: 1.8rem;
			line-height: 1.2;
		}
		line-height: 1.4;
		margin-top: 15px;
		color: $mint-green;
		font-weight: $font-weight-bold;
		font-size: 2.4rem;
		letter-spacing: .01em;
	}
	&__content {
		@include mq(sp) {
			display: block;
			margin-top: 10px;
			font-size: 1.4rem;
		}
		display: flex;
		margin-top: 25px;
		font-size: 1.6rem;
		letter-spacing: .05em;
		flex-wrap: wrap;
	}
	&__schedule {
		@include mq(sp) {
			width: 100%;
			padding: 20px;
		}
		flex-shrink: 0;
		width: (440/1100)*100%;
		padding: 25px;
		border-radius: 10px;
		background: rgba($color: $mint-green, $alpha: .1);
	}
	&__schedule-title {
		padding: 5px 0;
		border: 1px solid $mint-green;
		border-radius: 7px;
		color: $mint-green;
		text-align: center;
	}
	&__schedule-date {
		margin-top: 15px;
		line-height: (26/16);
	}
	&__txt {
		@include mq(sp) {
			margin-top: 10px;
			padding-left: 0;
			width: 100%;
			line-height: 1.6;
		}
		padding-left: 20px;
		line-height: (32/16);
		width: (660/1100)*100%;
		flex-shrink: 0;
	}
}
.p-event-detail {
	@include mq(sp) {
		padding: 15px;
	}
	padding: 40px 50px;
	border-radius: 10px;
	background: rgba($color: $mint-green, $alpha: .1);

	&__title {
		@include mq(sp) {
			font-size: 1.8rem;
		}
		color: $mint-green;
		font-weight: $font-weight-bold;
		font-size: 2.4rem;
		letter-spacing: .01em;
	}

	&__list {
		margin-top: 10px;
		padding-left: 5px;
	}

	&__item {
		@for $i from 1 through 6 {
			&0#{$i} {
				@include mq(sp) {
				}
				display: flex;
				align-items: center;
				padding: 10px 0;
			}
		}
		@for $i from 1 through 5 {
			&0#{$i} {
				@include mq(sp) {
				}
				border-bottom: 1px solid #c0dcf2;
			}
		}
	}
	&__item-title {
		@include mq(sp) {
			width: 120px;
			font-size: 1.4rem;
		}
		flex-shrink: 0;
		width: 160px;
		color: $mint-green;
		font-size: 1.6rem;
		letter-spacing: .05em;
	}
	&__item-desc {
		@include mq(sp) {
			font-size: 1.4rem;
			line-height: 1.2;
		}
		font-size: 1.6rem;
		letter-spacing: .05em;
	}
}
.p-event-entry {

	&__txt01 {
		@include mq(sp) {
			font-size: 2rem;
		}
		font-weight: $font-weight-bold;
		font-size: 2.6rem;
		letter-spacing: .01em;
	}
	&__txt02 {
		@include mq(sp) {
			font-size: 1.4rem;
		}
		margin-top: 10px;
		font-size: 1.6rem;
		line-height: (32/16);
		letter-spacing: .05em;
	}
	&__link {
		margin-top: 30px;
	}
}
